<div class="center hero-unit">
  <h1>Group Blog</h1>
  <h2>
    This is the home page for the Group Blog application.
  </h2>

  <%= link_to "今すぐ登録する!", new_user_registration_path,
      class: "btn btn-large btn-primary" %>
</div>
